#pageBody{
    margin-left:30px;
}

#pageBody:after{
    content:"";
    clear:both;
    display:block;
}

#pageBodyMain{
    float:left;
}

#pageBodySub{
    margin-top:30px;
    float:right;
}

#pageBody p{
    font-size:14px;
}

.articleDetailHead{
    border-bottom: 1px solid #cccccc;
    margin-bottom:30px;
    padding-bottom:15px;
}

.articleDetailHead .pageTitle{
    padding:5px 0 5px;
    background-color:#DFDFD0;
    margin:30px 0 30px;
}

.articleDetailHead h1{
    font-size:30px;
    
}

.articleDetailBody{
    border-bottom:1px solid #cccccc;
    margin-bottom:30px;
    padding-bottom:15px;
}

.articleDetailBody section{
    margin-top:10px;
    padding-top:5px;
}

.articleDetailBody h2{
    font-size:20px;
    color:#1e90ff;
    border-bottom:1px solid #1e90ff;
    padding:5px;
    margin-bottom:10px;
    padding-bottom:5px;
}

.articleDetailBody h3{
    font-size:17px;
    border-left:5px solid #ffa500;
    border-bottom:1px solid #ffa500;
    padding-left:5px;
}

.articleDetailBody p{
    margin-top:5px;
}

#pageBodySub .localNavi ul li{
    margin-bottom:15px;
}

.copyright{
    margin-top:15px;
    border-top: 1px solid #cccccc;
    padding:20px;
    background-color:#cccccc;
    text-align:center;
}

